<div class="multiple-timelines-box">
    <div class="multiple-timelines-header">
         <h3>{{visualization.title}}</h3>
    </div>
    <div class="multiple-timelines-content">
        <div class="d3-chart" #chart (window:resize)="onResize()"></div>
    </div>
</div>
<event-details #eventDetails></event-details>