.d3-chart {
  flex: 1 1 auto;
  width: 100%;
}

.d3-chart svg{
  overflow: visible;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

.d3-chart .data-point {
    stroke: blue;
    stroke-width: 1.5px;
    fill: black;        
}

.timeline-tooltip {
  text-align: center;
  max-width: 200px;
  min-width: 100px;
  min-height: 40px;
  max-height: 200px;
  padding: 2px;
  font: 12px sans-serif;
  border: 0px;
  pointer-events: none;
  overflow: hidden;
  background: black;
  color: white;
  padding: 5px;
  text-align: left;
  .date {
    text-align: left;
    padding: 5px;
  }
  img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 5px;
  }
}

rect {
  fill: #ddd;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.data-point:hover {
  fill: gold;
  z-index: 10;
}

.data-point {
  transition: 250;
  transition-timing-function: ease-in-out;
}

.multiple-timelines-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.multiple-timelines-header {
  flex: 0 1 auto;
}

.multiple-timelines-content {
  flex: 1 1 auto;
  display: flex;
}

.timeline-tooltip .title {
  // text-align: center;
  padding: 2px;
}

.timeline-tooltip .description {
  padding: 2px;
}

.timeline-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-legend-element {
  height: 30px;
  min-width: 50px;
  display: flex;
  align-items: center;
  max-width: 210px;
  margin-right: 5px;
}

.timeline-legend-color {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.timeline-legend-text {
  white-space: pre-wrap;
  overflow: hidden;
  width: 180px;
  padding-left: 5px;
}