<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create visualization</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <spinner *ngIf="isLoading"></spinner>
        <form [hidden]="isLoading" [formGroup]="visualizationForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group" [ngClass]="{
                'has-success':!title.errors && (title.dirty || title.touched || submitted),
                'has-danger':title.errors && (title.dirty || title.touched || submitted)
                }">
                <label for="title">Title</label>
                <input type="text" id="title" [formControl]="title"
                    class="form-control" required >
                <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                    class="alert alert-danger">Title is required</div>  
                <div *ngIf="title.hasError('maxlength') && (title.dirty || title.touched || submitted)"
                    class="alert alert-danger">Title is too long</div>  
            </div>
            <div class="form-group">
                <label for="select">Type</label>
                {{types[0].id}}
                <select class="form-control" id="types" [formControl]="type">
                    <option *ngFor="let type of types" [value]="type.id">{{type.text}}</option>
                </select>
                <div *ngIf="type.hasError('required') && (type.dirty || type.touched || submitted)"
                    class="alert alert-danger">Type is required</div>  
            </div>
            <div  class="form-group">
                <label for="timelines">Timelines</label>
                <ng-select
                    [formControl]="timelines"
                    [options]="availableTimelines"
                    [multiple]="multi">
                </ng-select>
                <div *ngIf="timelines.hasError('required') && (timelines.touched || submitted)"
                    class="alert alert-danger">Timelines are required</div> 
                <div *ngIf="timelines.hasError('minlength') && (timelines.touched || submitted)"    
                    class="alert alert-danger">
                    At least two are required
                </div>
            </div>    
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Create</button>
                <button class="btn btn-default" type="button" (click)="myModal.hide()">Cancel</button>
            </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->