<spinner *ngIf="isLoading"></spinner>
<table *ngIf="!isLoading" class="table table-bordered table-striped table-condensed fit">
    <thead>
        <tr>
            <th>
                Actions 
                <button class="btn-setttings" (click)="createEventModal.showModal(timelineId)">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </th>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td class="fit">
                <div class="card-actions" >
                    <button type="button" (click)="editEventModal.showModal(timelineId, event.id)"><i class="fa fa-gear fa-lg"></i></button>
                    <button class="details" type="button" (click)="assignModal.showModal(timelineId, event.id)"><i class="fa fa-book fa-lg"></i></button>
                    <button class="btn-setttings remove" id={{event.id}} (click)="deleteEvent($event)"><i class="fa fa-remove fa-lg"></i></button>
                </div>
            </td>
            <td>{{ event.id }}</td>
            <td>{{ event.title }}</td>
            <td>{{ event.short_description }}</td>
        </tr>
    </tbody>
</table>
<nav>
    <pagination 
        [totalItems]="totalItems" 
        [(ngModel)]="currentPage" 
        [itemsPerPage]="itemsPerPage" 
        (pageChanged)="pageChanged($event)">
    </pagination>
</nav>

<event-create (renew)="getPage(currentPage)" #createEventModal></event-create>
<event-edit (renew)="getPage(currentPage)" #editEventModal></event-edit>
<article-assign #assignModal></article-assign>