<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Assign articles</h4>
        <button type="button" class="close pull-right" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #articleForm="ngForm">
              <div class="row">
                <div class="form-group col-md-6">
                    <label for="articles">Available articles</label>
                    <select size=10 class="form-control" id="availableArticles" name="available" [(ngModel)]="selectedAvailable">
                    <option *ngFor="let article of availableArticles"
                        [ngValue]="article">
                        {{article.title}}
                    </option>
                    </select>
                    <button class="article btn btn-success" (click)="add()">
                        <i class="fa fa-arrow-circle-right"></i>&nbsp;Add
                    </button>
                </div>
                <div class="form-group col-md-6">
                    <label for="articles">Assigned articles</label>
                    <select size=10 class="form-control" id="assignedArticles" name="event" [(ngModel)]="selectedAssigned">
                    <option *ngFor="let article of assignedArticles"
                        [ngValue]="article">
                        {{article.title}}
                    </option>
                    </select>
                    <button class="article btn btn-danger" (click)="remove()">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;Remove
                    </button>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>