<div class="app flex-row align-items-center">
  <div class="container">
    <spinner *ngIf="loading"></spinner>
    <div *ngIf="!loading" class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="row">
                <div class="col-6">
                  <button (click)="login()" type="submit" class="btn btn-primary px-2">Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0" routerLink="/reset" routerLinkActive="active">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>Sign up</h2>
                <p>Dont have an account yet?.</p>
                <button type="button" class="btn btn-primary active mt-1" routerLink="/register" routerLinkActive="active">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
