<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <spinner *ngIf="isLoading"></spinner>
            <form [hidden]="isLoading" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate> 
              <div class="input-group mb-1" [ngClass]="{
                'has-success':!username.errors && (username.dirty || username.touched || submitted),
                'has-danger':username.errors && (username.dirty || username.touched || submitted)
                }">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" [formControl]="username" class="form-control" placeholder="Username" required>
                <div *ngIf="username.hasError('required') && (username.dirty || username.touched || submitted)"
                  class="alert alert-danger">Username is required</div>  
                <div *ngIf="username.hasError('notUnique') && (username.dirty || username.touched || submitted)"
                  class="alert alert-danger">Username must be unique</div>  
              </div>

              <div class="input-group mb-1"[ngClass]="{
                'has-success':!email.errors && (email.dirty || email.touched || submitted),
                'has-danger':email.errors && (email.dirty || email.touched || submitted)
                }">
                <span class="input-group-addon">@</span>
                <input type="email" [formControl]="email" class="form-control" placeholder="Email" required>
                <div *ngIf="email.hasError('required') && (email.dirty || email.touched || submitted)"
                  class="alert alert-danger">Email is required</div>  
                <div *ngIf="email.hasError('email') && (email.dirty || email.touched || submitted)"
                  class="alert alert-danger">Must be email</div>  
                <div *ngIf="email.hasError('notUnique') && (email.dirty || email.touched || submitted)"
                  class="alert alert-danger">Email must be unique</div>  
              </div>

              <div class="input-group mb-1"[ngClass]="{
                'has-success':!first.errors && (first.dirty || first.touched || submitted),
                'has-danger':first.errors && (first.dirty || first.touched || submitted)
                }">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [formControl]="first" class="form-control" placeholder="Password" required>
                <div *ngIf="first.hasError('required') && (first.dirty || first.touched || submitted)"
                  class="alert alert-danger">Pasword is required</div>  
              </div>

              <div class="input-group mb-2"[ngClass]="{
                'has-success':!second.errors && (second.dirty || second.touched || submitted),
                'has-danger':second.errors && (second.dirty || second.touched || submitted)
                }">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [formControl]="second" class="form-control" placeholder="Repeat password" required>
                <div *ngIf="second.hasError('required') && (second.dirty || second.touched || submitted)"
                  class="alert alert-danger">Pasword is required</div>  
                <div *ngIf="second.hasError('equalTo') && (second.dirty || second.touched || submitted)"
                  class="alert alert-danger">Paswords have to be the same</div>  
              </div>
              <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-block btn-success">Create Account</button>
                </div>    
                <div class="col-6">
                    <button class="btn btn-secondary"  routerLink="/" >Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
