<div *ngIf="!loading" class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Reset password</h1>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="input-group mb-1"[ngClass]="{
              'has-success':!first.errors && (first.dirty || first.touched || submitted),
              'has-danger':first.errors && (first.dirty || first.touched || submitted)
              }">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" [formControl]="first" class="form-control" placeholder="New password" required>
              </div>
              <div *ngIf="first.hasError('required') && (first.dirty || first.touched || submitted)"
                  class="alert alert-danger">Pasword is required</div>  
              <div class="input-group mb-2"[ngClass]="{
              'has-success':!second.errors && (second.dirty || second.touched || submitted),
              'has-danger':second.errors && (second.dirty || second.touched || submitted)
              }">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" [formControl]="second" class="form-control" placeholder="Repeat password" required>
              </div>
              <div *ngIf="second.hasError('required') && (second.dirty || second.touched || submitted)"
                  class="alert alert-danger">Pasword is required</div>  
              <div *ngIf="second.hasError('equalTo') && (second.dirty || second.touched || submitted)"
                  class="alert alert-danger">Paswords have to be the same</div>  
              <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-block btn-success">Reset password</button>
                </div>    
                <div class="col-6">
                    <button class="btn btn-block btn-secondary"  routerLink="./">Back</button>
                </div>
              </div>                   
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<spinner *ngIf="loading"></spinner>