<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>Reset password</h1>
              <p class="text-muted">Forgot your password?</p>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate> 
                   <div class="input-group mb-1"[ngClass]="{
                  'has-success':!email.errors && (email.dirty || email.touched || submitted),
                  'has-danger':email.errors && (email.dirty || email.touched || submitted)
                  }">
                      <span class="input-group-addon">@</span>
                      <input type="text" class="form-control" [formControl]="email" required email>
                  </div>
                  <div *ngIf="email.hasError('required') && (email.dirty || email.touched || submitted)"
                      class="alert alert-danger">Email is required</div>  
                  <div *ngIf="email.hasError('email') && (email.dirty || email.touched || submitted)"
                      class="alert alert-danger">Must be email</div>   
                  <div *ngIf="email.hasError('exist') && (email.dirty || email.touched || submitted)"
                      class="alert alert-danger">Email doesnt exist</div>  
                  <div *ngIf="email.hasError('sent') && (email.dirty || email.touched || submitted)"
                      class="alert alert-danger">Reset already sent, check you email</div>  
                  <div class="row">
                      <div class="col-6">
                          <button type="submit" class="btn btn-primary px-2" >Reset password</button>
                      </div>
                      <div class="col-6">
                          <button class="btn btn-secondary"  routerLink="/" routerLinkActive="active">Back</button>
                      </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
