<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create tag</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <spinner *ngIf="isLoading"></spinner>
        <form *ngIf="!isLoading" [formGroup]="tagForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group"
                [ngClass]="{
                'has-success':!title.errors && (title.dirty || title.touched || submitted),
                'has-danger':title.errors && (title.dirty || title.touched || submitted)
                }">
                <label for="title">Title</label>
                <input type="text" id="title" [formControl]="title"
                    class="form-control" required >
                <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                    class="alert alert-danger">Title is required</div>
                <div *ngIf="title.hasError('maxlength') && (title.dirty || title.touched || submitted)"
                    class="alert alert-danger">Title is too long</div>   
            </div>
            <div class="form-group"
                [ngClass]="{
                'has-success':!description.errors && (description.dirty || description.touched || submitted),
                'has-danger':description.errors && (description.dirty || description.touched || submitted)
                }">
                <label for="description">Description</label>
                <input type="text" id="description" [formControl]="description"
                    class="form-control" required >
                <div *ngIf="description.hasError('required') && (description.dirty || description.touched || submitted)"
                    class="alert alert-danger">Description is required</div>  
                <div *ngIf="description.hasError('maxlength') && (longDescription.dirty || longDescription.touched || submitted)"
                    class="alert alert-danger">Description is too long</div>  
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input class="form-control" required id="color" [formControl]="color" type="text"
                  [cpOutputFormat]="'rgba'"
                  [colorPicker]="currentColor"
                  [style.background]="currentColor"
                  (colorPickerChange)="onColorPickerChange($event)">
                <div *ngIf="color.hasError('required') && (color.dirty || color.touched || submitted)"
                    class="alert alert-danger">Color is required</div>  
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Create</button>
                <button class="btn btn-default" type="button" (click)="myModal.hide()">Cancel</button>
            </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->