img {
    margin: 0 0 0 15px;
}

.imageView {
    position: relative;
    button {
        position: absolute;
        top: 0;
        right: 0;
        align-content: center;
        background-color: transparent;
        border: none;
    }
}

.date-success {
    /deep/ input {
        border: 1px solid !important;
        border-color: #4dbd74 !important;
    }
}

.date-danger {
    /deep/ input {
        border: 1px solid !important;
        border-color: #f86c6b !important;
    }
}

.alert {
    button {
        background-color: transparent;
        border: none;
        float: right;
    }
}