<div *ngIf="timeline" #timelineContent class="timeline-content">
    <div class="timeline-title">
        <h3>{{timeline.title}}</h3>
        <h5>{{timeline.description}}</h5>
    </div>
    <div class="timeline-horizontal">
        <ul class="timeline-list" drag-scroll>
            <li class="timeline-list-item" *ngFor="let event of timeline.events" >
                <div class="event-card" [ngClass]="{'withImage': event.image_url}">
                    <img *ngIf="event.image_url" class="event-image" [src]="this.url + event.image_url">
                    <div class="event-title">
                        <p>{{event.title}}</p>
                    </div>
                    <div class="event-date">
                        {{event.date | momentDate:'Y, MMM D'}}
                    </div>
                    <div class="event-short-desc">
                        <p>{{event.short_description}}</p>
                    </div>
                    <button (click)="eventDetails.showModal(event)" class="btn btn-secondary">
                        More info
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <event-details #eventDetails></event-details>
</div>