.timeline-content {
    height: 100%;
    width: 100%;
    h3 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
    display: flex;
    flex-direction: column;
}

.timeline-horizontal {
    padding: 20px;
    height: 100%;
    display: flex;
}

.timeline-title {
    flex: 0 0 auto;
    max-height: 30%;
    overflow: auto;
}

ul.timeline-list {
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

li.timeline-list-item {
    display: inline-block; 
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    padding: 5px 10px 5px 10px;
    line-height: 1.3;
}

li div.event-card {
    height: 98%;
    display: flex;
    padding: 0;
    flex-direction: column;
    -webkit-box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
    box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
 
    p {
        white-space: initial;
    }

    .event-image {
        max-height: 40%;
    }

    .event-date {
        font-size: 0.9rem;
        color: gray;
        text-align: center;
        margin: 0 5px 0 5px;
    }

    .event-title {
        max-height: 30%;
        margin: 10px;
        font-size: .9rem;
        text-align: center;
        font-weight: bold;
        overflow: visible;
        p {
            margin-top: 0;
            margin-bottom: 0; 
        }
    }

    .event-short-desc {
        font-size: 0.8rem;
        max-height: 30%;
        margin: 10px;
        overflow: hidden;
        overflow-y: auto;
    }

    button {
        height: 10%;
        height: 35px;
        margin: auto 10px 10px 10px
    }
}

@media (min-width: 480px) {
    li.timeline-list-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    li.timeline-list-item {
        width: 33.3%;
    }
}

@media (min-width: 998px) {
    li.timeline-list-item {
        width: 25%;
    }
}


@media (min-width: 1200px) {
    li.timeline-list-item {
        width: 20%;
    }
}