<div class="modal-body visualization-view" *ngIf="visualization">
  <vertical-timeline *ngIf="visualization.type == 'SV'" [timeline]="visualization.timelines[0]"></vertical-timeline>
  <multiple-timelines *ngIf="visualization.type == 'MH'" [visualization]="visualization"></multiple-timelines>
  <horizontal-timeline *ngIf="visualization.type == 'SH'" [timeline]="visualization.timelines[0]"></horizontal-timeline>
</div>
