.timeline-content {
    height: 100%;
    width: 100%;
    h3 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
    display: flex;
    flex-direction: column;
}

.timeline-title {
  flex: 0 0 auto;
  max-height: 30%;
  overflow: auto;

  h3 {
      font-size: 1.25rem;
  }
  h4 {
      font-size: 1rem;
  }
}

.vertical-timeline {
    padding: 20px;
    height: 100%;
    display: flex;
}

img {
  width: 100%;
}

.timeline-list {
  padding: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: normal !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.timeline-list li:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 5px solid black;
  border-right: 5px solid black;
  transform: translate(-50%);
  transform: translate(100%);
}

ul.timeline-list li {
  list-style-type: none;
  position: relative;
  margin: 0 auto;
  padding-top: 55px;
}

ul.timeline-list li:last-child {
  padding-bottom: 50px;
}

ul.timeline-list li::before {
  content: '';
  position: absolute;
  transform: translateY(-130%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border-color: black;
  border: 2px solid;
  z-index: 1;
}

.event-card {
  margin-left: 10%;
  margin-right: 5%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.53), 0px 8px 16px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.53), 0px 8px 16px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.53), 0px 8px 16px 0px rgba(0,0,0,0.37);
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  padding: 15px;
  z-index: 100;
  background: white;
}

.event-date {
  transform: translate(15%,-105%);
}

@media screen and (min-width: 569px) { 
  ul.timeline-list li {
    padding-top: 50px;
  }
  .event-card {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  ul.timeline-list li::before {
    transform: translate(-50%,30%);
  }

  .timeline-list li:after {
    transform: translate(-50%);
  }
  
  //right
  ul.timeline-list li:nth-child(odd) {
    .event-card {
      transition: transform 1s;
      transform: translatex(10%);
      -webkit-box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
      -moz-box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
      box-shadow: -4px 4px 8px 0px rgba(0,0,0,0.53), -4px 8px 16px 0px rgba(0,0,0,0.37);
    }
    .event-date {
      transform: translate(-110%);
      text-align: right;
    }
    margin-left: 50%
  }

  //left
  ul.timeline-list li:nth-child(even) {
    .event-card {
      transition: transform 1s;
      transform: translatex(-110%);
      -webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.53), 4px 8px 16px 0px rgba(0,0,0,0.37);
      -moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.53), 4px 8px 16px 0px rgba(0,0,0,0.37);
      box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.53), 4px 8px 16px 0px rgba(0,0,0,0.37);
    }
    .event-date {
      text-align: left;
      transform: translate(10%);
    }
    margin-left: 50%;
  }
}

.event-title {
    display: block;
    font-size: 1rem;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}

.event-date {
    display: block;
    font-size: 0.8rem;
    position: absolute;
    width: 90%;
    font-size: xx-large;
}