<div *ngIf="timeline" #timelineContent class="timeline-content">
    <div class="timeline-title">
        <h3>{{timeline.title}}</h3>
        <h5>{{timeline.description}}</h5>
    </div>
    <ul class="timeline-list" drag-scroll [drag-scroll-x-disabled]="true">
        <li *ngFor="let event of timeline.events" >
            <div class="event-date">
                {{event.date | date}}
            </div>
            <div class="event-card">
                <img *ngIf="event.image_url" class="event-image" [src]="this.url + event.image_url">
                <div class="event-title">
                    {{event.title}}
                </div>
                <hr>
                <div class="event-short-desc">
                    {{event.short_description}}
                </div>
                <hr>
                <button (click)="eventDetails.showModal(event)" class="btn btn-secondary">
                    More info
                </button>
            </div>
        </li>
    </ul>
    <event-details #eventDetails></event-details>
</div>