<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Visualization preview
    <button class="btn btn-sm btn-secondary" routerLink="/visualizations">Back</button>
  </div>
  <div class="card-block">
    <div class="visualization-view" *ngIf="url">
      <iframe width="100%" height="100%" [src]="url"></iframe>
    </div>
  </div>
</div>