<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Create article</strong>
            </div>
            <div class="card-block">
                <spinner *ngIf="isLoading"></spinner>
                <form *ngIf="!isLoading" [formGroup]="articleForm" (ngSubmit)="onSubmit()" novalidate> 
                    <div class="form-group" 
                        [ngClass]="{
                        'has-success':!title.errors && (title.dirty || title.touched),
                        'has-danger':title.errors && (title.dirty || title.touched)
                        }">
                        <label for="title">Title</label>
                        <input type="text" id="title" [formControl]="title"
                            class="form-control" required >
                        <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                            class="alert alert-danger">Title is required</div>  
                    </div>
                    <div class="form-group"
                        [ngClass]="{
                        'has-success':!content.errors && (content.dirty || content.touched),
                        'has-danger':content.errors && (content.dirty || content.touched)
                        }">
                        <label for="content">Content</label>
                        <app-tinymce [formControl]='content'></app-tinymce>
                        <div *ngIf="content.hasError('required') && (content.dirty || content.touched || submitted)"
                            class="alert alert-danger">Content is required</div>  
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" >Create</button>
                        <button class="btn btn-default" type="button" routerLink="/articles" routerLinkActive="active">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>