<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Timelines
        </div>
        <div class="card-block">
          <spinner *ngIf="isLoading"></spinner>
          <table *ngIf="!isLoading" class="table table-bordered table-striped table-condensed fit">
            <thead>
              <tr>
                <th>Actions  <button class="btn-setttings" (click)="createModal.showModal()"><i class="fa fa-plus fa-lg"></i></button></th>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="fit">
                  <div class="card-actions" >
                    <button class="btn-setttings details" routerLink="./edit/{{item.id}}"><i class="fa fa-gear fa-lg"></i></button>
                    <button class="btn-setttings remove" id={{item.id}} (click)="deleteTimeline($event)"><i class="fa fa-remove fa-lg"></i></button>
                  </div>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
              </tr>
            </tbody>
          </table>
          <nav>
              <pagination
                [totalItems]="totalItems"
                [(ngModel)]="currentPage" 
                [itemsPerPage]="itemsPerPage" 
                (pageChanged)="pageChanged($event)">
              </pagination>
          </nav> 
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<timeline-create (renew)="getPage(currentPage)" #createModal></timeline-create>
