<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create timeline</h4>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <spinner *ngIf="isLoading"></spinner>
                <form [hidden]="isLoading" [formGroup]="timelineForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group" [ngClass]="{
                        'has-success':!title.errors && (title.dirty || title.touched || submitted),
                        'has-danger':title.errors && (title.dirty || title.touched || submitted)
                        }">
                        <label for="title">Title</label>
                        <input type="text" id="title" [formControl]="title"
                            class="form-control" required >
                        <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                            class="alert alert-danger">Title is required</div>  
                        <div *ngIf="title.hasError('maxLength') && (title.dirty || title.touched || submitted)"
                            class="alert alert-danger">Title is too long</div>  
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-success':!description.errors && (description.dirty || description.touched || submitted),
                        'has-danger':description.errors && (description.dirty || description.touched || submitted)
                        }">
                        <label for="description">Description</label>
                        <input type="text" id="description" [formControl]="description"
                            class="form-control" required >
                        <div *ngIf="description.hasError('required') && (description.dirty || description.touched || submitted)"
                            class="alert alert-danger">Description is required</div>  
                        <div *ngIf="description.hasError('maxLength') && (description.dirty || description.touched || submitted)"
                            class="alert alert-danger">Description is too long</div>  
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-success':!color.errors && (color.dirty || color.touched || submitted),
                        'has-danger':color.errors && (color.dirty || color.touched || submitted)
                        }">
                        <label for="color">Color</label>
                        <input class="form-control" id="color" [formControl]="color" type="text"
                        [cpOutputFormat]="'rgba'"
                        [colorPicker]="currentColor"
                        [style.background]="currentColor"
                        (colorPickerChange)="onColorPickerChange($event)"> 
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" >Create</button>
                        <button class="btn btn-default" type="button" (click)="myModal.hide()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>