<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Visualizations
        </div>
        <div class="card-block">
            <spinner *ngIf="isLoading"></spinner>
            <table *ngIf="!isLoading" class="table table-bordered table-striped table-condensed fit">
                <thead>
                    <tr>
                        <th>Actions <button class="btn-setttings" (click)="modalCreate.showModal()"><i class="fa fa-plus fa-lg"></i></button></th>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td class="fit">
                            <div class="card-actions" >
                                <button class="btn-setttings" (click)="modalEdit.showModal(item.id)"><i class="fa fa-gear fa-lg"></i></button>
                                <button class="btn-settiings" routerLink="./preview/{{item.id}}" routerLinkActive="active"><i class="fa fa-eye fa-lg"></i></button>
                                <button class="btn-setttings" type="button" ngxClipboard [cbContent]="getVisualizationUrl(item.id)"><i class="fa fa-link fa-lg"></i></button>
                                <button class="btn-setttings remove" (click)="deleteVisualization(item.id)"><i class="fa fa-remove fa-lg"></i></button>
                            </div>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.title }}</td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <pagination 
                    [totalItems]="totalItems" 
                    [(ngModel)]="currentPage" 
                    [itemsPerPage]="itemsPerPage" 
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </nav>    
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<visualization-create (renew)="getPage(currentPage)" #modalCreate></visualization-create>
<visualization-edit (renew)="getPage(currentPage)" #modalEdit></visualization-edit>
