@import "bootstrap_src/forms";

.ui-widget-header {
    background-image: none;
}

.container-fluid {
    margin-top: 24px;
}

p-calendar input {
    @extend .form-control;
    display: block !important;
    width: 100% !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 0.875rem !important;
    line-height: 1.25 !important;
    color: #607d8b !important;
    background-color: #fff !important;
    background-image: none !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0 !important;
}

.article.btn {
    width: 100%;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.tag-list {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    min-height: 39px;
    margin-top: 8px;
    max-height: 90px;
    overflow-y: scroll;
    .btn {
        margin: 2px;
    }
}

.article-body img, iframe {
    max-width: 100%;
}

color-picker .color-picker {
    top: 0 !important;
    left: 0 !important;
    position: absolute !important;
}

color-picker {
    position: absolute !important;
}

ng-select .multiple{ 
    max-height: 300px;
    overflow-y: auto; 
    .option {
        max-width: 100%;
    }
}

