<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Update timeline</strong>
            </div>
            <div class="card-block">
                <spinner *ngIf="isLoading"></spinner>
                <tabset *ngIf="!isLoading" #staticTabs>
                    <tab heading="Timeline details">
                        <form *ngIf="!isLoading" [formGroup]="timelineForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="form-group" [ngClass]="{
                                'has-success':!title.errors && (title.dirty || title.touched || submitted),
                                'has-danger':title.errors && (title.dirty || title.touched || submitted)
                                }">
                                <label for="title">Title</label>
                                <input type="text" id="title" [formControl]="title"
                                    class="form-control" required >
                                <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                                    class="alert alert-danger">Title is required</div>  
                                <div *ngIf="title.hasError('maxLength') && (title.dirty || title.touched || submitted)"
                                    class="alert alert-danger">Title is too long</div>  
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-success':!description.errors && (description.dirty || description.touched || submitted),
                                'has-danger':description.errors && (description.dirty || description.touched || submitted)
                                }">
                                <label for="description">Description</label>
                                <input type="text" id="description" [formControl]="description"
                                    class="form-control" required >
                                <div *ngIf="description.hasError('required') && (description.dirty || description.touched || submitted)"
                                    class="alert alert-danger">Description is required</div>  
                                <div *ngIf="description.hasError('maxLength') && (description.dirty || description.touched || submitted)"
                                    class="alert alert-danger">Description is too long</div>  
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-success':!color.errors && (color.dirty || color.touched || submitted),
                                'has-danger':color.errors && (color.dirty || color.touched || submitted)
                                }">
                                <label for="color">Color</label>
                                <input class="form-control" id="color" [formControl]="color" type="text"
                                [cpOutputFormat]="'rgba'"
                                [colorPicker]="currentColor"
                                [style.background]="currentColor"
                                (colorPickerChange)="onColorPickerChange($event)"> 
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" >Update</button>
                                <button class="btn btn-default"
                                    type="button"
                                    routerLink="/timelines"
                                >Cancel</button>
                            </div>
                        </form>
                    </tab>
                    <tab heading="Events">
                        <event-list [timelineId]="id"></event-list>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>