<div (onHide)="onHide()" bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="event" class="modal-content">
     <div class="modal-header container">
        <div class="col-4">
          <h6 class="modal-title">{{event.date | momentDate:'Y, MMM D'}}</h6>
        </div>
        <div class="col-8">
          <h6 class="modal-title">{{title}}</h6>
        </div>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <tabset #staticTabs>
          <tab heading="Event details">
            <div *ngIf="event.image_url">
              <div class="row">
                <div class="col-md-12">
                  <h6>Description</h6>
                  <p *ngIf="event.long_description">
                    <img width="100%" height="100%" [src]="this.url+event.image_url">  
                    {{event.long_description}}
                  </p>
                  <p *ngIf="!event.long_description">
                    <img width="100%" height="100%" [src]="this.url+event.image_url">  
                    {{event.short_description}}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="!event.image_url">
              <h6>Description</h6>
              <p *ngIf="event.long_description">
                {{event.long_description}}
              </p>
              <p *ngIf="!event.long_description">
                {{event.short_description}}
              </p>
            </div>
          </tab>
          <tab heading="Related articles">
            <div *ngIf="event.articles.length > 0" class="row">
              <label class="col-2" for="select">Related articles</label>
              <div class="col-10">
                <select id="select" name="select" class="form-control" size="1" (change)="onChange($event.target.value)">
                  <option value="0">Please select</option>
                  <option *ngFor="let item of event.articles" value="{{item.id}}">{{item.title}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="event.articles.length == 0">
              <p>No related articles</p>
            </div>
            <hr *ngIf="showArticle">
            <div class="event-details-article">
              <article-view></article-view>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>