.event-details-article {
    padding: 5px;
}

button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}

img {
    float: left;
    margin: 0px 10px 5px 0px;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: auto;
}