<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create event</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <spinner *ngIf="isLoading"></spinner>
        <form [hidden]="isLoading" [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate> 
            <div class="form-group row">
                <label for="image" class="col-md-3">Image</label>
                <div class="col-md-4"[ngClass]="{'file-success':!file.errors && (file.dirty || file.touched || submitted),
                'file-danger':file.errors && (file.dirty || file.touched)}">
                     <input #imageInput type="file" accept="image/*" (change)="onFileChange($event)" id="image">
                </div>
            </div>
            <div *ngIf="file.hasError('tooLarge') && (file.dirty || file.touched || submitted)"
                class="alert alert-danger">File is too large
                <button type="button" (click)="clearFile()"><i class="fa fa-remove fa-lg"></i></button>
            </div>
            <div *ngIf="file.hasError('invalidType') && (file.dirty || file.touched || submitted)"
                class="alert alert-danger">Invalid file type
                <button type="button" (click)="clearFile()"><i class="fa fa-remove fa-lg"></i></button>
            </div> 
            <div *ngIf="imageUrl" class="form-group row">
                <p class="col-md-3">Selected event image</p>
                <div class="imageView">
                    <img *ngIf="imageUrl" [src]="imageUrl" width="150" height="150">
                    <button *ngIf="imageBase64 || imageUrl" type="button" (click)="removeImage()" ><i class="fa fa-remove fa-lg"></i></button>
                </div>
            </div>
            <div id="date" class="form-group row" 
                [ngClass]="{'date-success':!date.errors && (date.dirty || date.touched || submitted),
                'date-danger':date.errors && (date.dirty || date.touched)}"> 
                <label for="date" class="col-md-3">Start date</label>
                <p-calendar class="col-md-9" [formControl]="date" showTime="showTime" hourFormat="24" dateFormat="yy-mm-dd"></p-calendar> 
            </div>
            <div *ngIf="date.hasError('required') && (date.dirty || date.touched || submitted)"
                        class="alert alert-danger">Date is required</div> 
            <div class="form-group row"
                [ngClass]="{
                'has-success':!title.errors && (title.dirty || title.touched || submitted),
                'has-danger':title.errors && (title.dirty || title.touched || submitted)
                }">
                <label class="col-md-3" for="title">Title</label>
                <div class="col-md-9">
                    <input type="text" [formControl]="title" class="form-control" id="title" required>
                </div>
            </div>
            <div *ngIf="title.hasError('required') && (title.dirty || title.touched || submitted)"
                class="alert alert-danger">Title is required</div>
            <div *ngIf="title.hasError('maxlength') && (title.dirty || title.touched || submitted)"
                class="alert alert-danger">Title too long</div> 
            <div id="date" class="form-group row" 
                [ngClass]="{
                'has-success':!description.errors && (description.dirty || description.touched || submitted),
                'has-danger':description.errors && (description.dirty || description.touched || submitted)
                }">
                <label class="col-md-3" for="description">Description</label>
                <div class="col-md-9">
                    <input type="text" [formControl]="description" class="form-control" id="description" required>
                </div>
            </div>
            <div *ngIf="description.hasError('required') && (longDescription.dirty || longDescription.touched || submitted)"
                class="alert alert-danger">Description is required</div>
            <div *ngIf="description.hasError('maxlength') && (longDescription.dirty || longDescription.touched || submitted)"
                class="alert alert-danger">Description too long</div>  
            <div class="form-group row"
                [ngClass]="{
                'has-success':!longDescription.errors && (longDescription.dirty || longDescription.touched || submitted),
                'has-danger':longDescription.errors && (longDescription.dirty || longDescription.touched || submitted)
                }">
                <label class="col-md-3" for="textarea-input">Long description</label>
                <div class="col-md-9">
                    <textarea id="textarea-input" [formControl]="longDescription" rows="9" class="form-control" placeholder="Description.."></textarea>
                </div>
            </div>
            <div *ngIf="longDescription.hasError('maxlength') && (longDescription.dirty || longDescription.touched || submitted)"
                    class="alert alert-danger">Long description too long</div>  
            <div class="form-group row"
                [ngClass]="{
                'has-success':!tags.errors && (tags.dirty || tags.touched || submitted),
                'has-danger':tags.errors && (tags.dirty || tags.touched || submitted)
                }">
                <label class="col-md-3" for="tags">Tags</label>
                <ng-select class="col-md-9" #tagsSelected id="tags"
                    [formControl]="tags"
                    [multiple]="true"
                    placeholder="No tags selected">
                </ng-select>
            </div>           
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" > Create </button>
                <button type="button" class="btn btn-secondary" (click)="myModal.hide()" >Cancel</button>
            </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->